# .NET
**/bin/
**/obj/
*.user
*.suo
.vs/
*.db
*.db-shm
*.db-wal

# Angular
wiener-frontend/node_modules/
wiener-frontend/.angular/
wiener-frontend/dist/

# OS
.DS_Store
Thumbs.db

# Root node_modules (greška)
node_modules/
package.json
package-lock.json